{% extends "head.html" %}
{% block title %}
    vSphere - Global Vision
{% endblock %}
{% block content %}
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <div class="alert alert-info">Physical resources installed</div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="HypervisorColumnChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="MemoryPieChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="DiskPieChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="ThreadsPieChart"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="ESXiVersionPie"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div id="LinkSpeedPie"></div>
            </div>
        </div>
    </div>

    <script>

        function round_number(num, dec) {
            return Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
        }

        function humanize_filesize(fs) {
            if (fs >= 1099511627776) {
                return round_number(fs / 1099511627776, 2) + ' TB';
            }
            if (fs >= 1073741824) {
                return round_number(fs / 1073741824, 2) + ' GB';
            }
            if (fs >= 1048576) {
                return round_number(fs / 1048576, 2) + ' MB';
            }
            if (fs >= 1024) {
                return round_number(fs / 1024, 0) + ' KB';
            }
            return fs + ' B';
        }

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'MemoryPieChart'
                    }, title: {
                        text: 'Physical Memory'
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + humanize_filesize(this.y * 1048576);
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + Math.round(this.percentage) + ' % <br/>' + humanize_filesize(this.y * 1048576);
                                }
                            }
                        }
                    }, series: [
                        {
                            type: 'pie',
                            data: [
                                {% for dc  in data %}
                                    [ '{{ dc.datacenter }}', {{ dc.memory }} ],
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'DiskPieChart'
                    }, title: {
                        text: 'Physical Storage'
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + humanize_filesize(this.y * 1048576);
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + Math.round(this.percentage) + ' % <br/>' + humanize_filesize(this.y * 1048576);
                                }
                            }
                        }
                    }, series: [
                        {
                            type: 'pie',
                            data: [
                                {% for dc  in data %}
                                    [ '{{ dc.datacenter }}', {{ dc.storage }} ],
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'ThreadsPieChart'
                    }, title: {
                        text: 'Physical CPU Threads'
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + this.y.toFixed(0);
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + Math.round(this.percentage) + ' % <br/>' + this.y.toFixed(0);
                                }
                            }
                        }
                    }, series: [
                        {
                            type: 'pie',
                            data: [
                                {% for dc in data %}
                                    [ '{{ dc.datacenter }}', {{ dc.threads }} ],
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });

        {% regroup data|dictsort:"hypervisor" by hypervisor as data_hypervisor %}
        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'HypervisorColumnChart'
                    }, title: {
                        text: 'Number of Hypervisors'
                    }, yAxis: {
                        title: {
                            text: 'vm'
                        }
	                 }, xAxis: {
                        categories: [
                            {% for rp in country_list %}
                                {% for a in rp.list %}
                                    '{{ a.name}}',
                                {% endfor %}
                            {% endfor %}
                            ],
                        labels: {
                            rotation: -45,
                            align: 'right'
                        }
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + this.y + ' hypervisors';
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        column: {
                            dataLabels: {
                                enabled: false
                            }
                        }
                    }, legend: {
                        enabled: false
                    }, series: [
                        {
                            type: 'column',
                            data: [
                                {% for dc in data_hypervisor %}
                                    {% for a in dc.list %}
                                        [ '{{ a.datacenter}}', {{ a.hypervisor }} ],
                                    {% endfor %}
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'ESXiVersionPie'
                    }, title: {
                        text: 'ESXi Version'
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + this.point.name + '</b>: ' + this.y + ' hypervisors';
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + Math.round(this.percentage) + ' % <br/>' + this.y + ' hypervisors';
                                }
                            }
                        }
                    }, series: [
                        {
                            type: 'pie',
                            data: [
                                {% for key, value in esxiversion.items %}
                                    [ '{{ key }}', {{ value }} ],
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });

        $(function () {
            var chart;
            $(document).ready(function () {
                chart = new Highcharts.Chart({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        renderTo: 'LinkSpeedPie'
                    }, title: {
                        text: 'Network Interface Speed'
                    }, tooltip: {
                        formatter: function () {
                            return '<b>' + humanize_filesize(this.point.name * 1024/1000 * 1048576) + '</b>: ' + this.y + ' interfaces';
                        }
                    }, exporting: {
                        enabled: false
                    }, plotOptions: {
                        pie: {
                            dataLabels: {
                                enabled: true,
                                formatter: function () {
                                    return '<b>' + humanize_filesize(this.point.name * 1024/1000 * 1048576) + '</b>: ' + Math.round(this.percentage) + ' % <br/>' + this.y + ' interfaces';
                                }
                            }
                        }
                    }, series: [
                        {
                            type: 'pie',
                            data: [
                                {% for key, value in linkspeed.items %}
                                    [ '{{ key }}', {{ value }} ],
                                {% endfor %}
                            ]
                        }
                    ]
                });
            });
        });


    </script>
{% endblock %}