{% extends "head.html" %}
{% load multiply %}
{% load percent %}
{% block title %}
    vSphere - Search
{% endblock %}
{% block content %}
    {% if hypervisor_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{{ hypervisor_list | length }} Hypervisors</strong></div>
            {% include "hypervisor_list.html" %}
        </div>
    {% endif %}

    {% if guest_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>{{ guest_list | length }} Guests</strong></div>
            {% include "guest_list.html" %}
        </div>
    {% endif %}
{% endblock %}
